<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="index.php" method="post">
        <p>
            <label for="nom">ton nom</label>
            <input type="text" id="nom" name="nom"/>
        </p>
        <p>
            <label for="prenom">Votre prénom</label>
            <input type="text" id="prenom"name="prenom"/>
        </p>
        <p>
            <label for="groupe"Groupe de contact></label>
            <select name="gp" id="groupe">
                <option value="1">Famille1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
        </p>
        <p>
            <input type="submit" value="Submit">
        </p>
    </form>
</body>
</html>